.modal-container {
  @include column-flexbox();
  gap: 20px;
  background-color: $grayDark;
  padding: 20px;

  .variant-certification {
    @include column-flexbox(start, start);
    width: 100%;
    gap: 20px;
    input {
      border: 1px solid $gray;
    }

    .input-file-box {
      @include flexbox();
      background-color: $background;
      width: 100%;
      padding: 0 16px;
      height: 40px;
      border: 1px solid $background;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }

    .hidden {
      position: fixed;
    }
  }

  .button-wrapper {
    @include flexbox();
    gap: 10px;
    width: 100%;
  }
}
