.profile-xs-icon {
  background-color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

.profile-sm-icon {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-lg-icon {
  background-color: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-left: 10px;
}
