$primary: #635fc7;
$primary-light: #a8a4ff;
$blue: #49c4e5;

$black: #000112;
$background: #20212c;
$gray: #828fa3;
$gray-dark: #2b2c37;

$line: #3e3f4e;
$line-light: #e4ebfa;


$white: #fff;

$red: #ea5555;
$red-light: #ff9898;
