$primary: #635fc7;
$primaryLight: #a8a4ff;
$blue: #49c4e5;

$black: #000112;
$background: #20212c;
$gray: #828fa3;
$grayDark: #2b2c37;

$line: #3e3f4e;
$lineLight: #e4ebfa;


$white: #fff;

$red: #ea5555;
$redLight: #ff9898;
