$font-size-14: 14px;
$line-height-14: 17px;
$letter-spacing-14: -0.1em;

$font-size-16: 16px;
$line-height-16: 20px;
$letter-spacing-16: -0.1em;

$font-size-18: 18px;
$line-height-18: 22px;
$letter-spacing-18: -0.01em;

$font-size-24: 24px;
$line-height-24: 30px;
$letter-spacing-24: -0.01em;

$font-size-40: 40px;
$line-height-40: 30px;
$letter-spacing-40: -0.01em;
