//TODO: 퍼블리싱 후 전체적인 font-weight 확인 후 변경 필요

@mixin text-style-14() {
  font-size: $font-size-14;
  line-height: $line-height-14;
  letter-spacing: $letter-spacing-14;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  line-height: $line-height-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-18() {
  font-size: $font-size-18;
  line-height: $line-height-18;
  letter-spacing: $letter-spacing-18;
}

@mixin text-style-24() {
  font-size: $font-size-24;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-24;
}

@mixin text-style-40() {
  font-size: $font-size-40;
  line-height: $line-height-40;
  letter-spacing: $letter-spacing-40;
}

@mixin text-style($size, $color: false) {
  @if ($size ==14) {
    @include text-style-14();
  }
  @if ($size ==16) {
    @include text-style-16();
  }
  @if ($size ==18) {
    @include text-style-18();
  }
  @if ($size ==24) {
    @include text-style-24();
  }
  @if ($size ==40) {
    @include text-style-40();
  }
  @if (type-of($color) == color) {
    color: $color;
  }
}

@mixin text-color($color) {
  @if (type-of($color) == color) {
    color: $color;
  }
}
